// Variables

// Colors
// Background
$bg-color: #fff;
$code-bg: #f7f7f7;
$table-even-bg: #f6f8fa;
$hr-bg: #e1e4e8;

// Text-Colors
$primary: #3f4347;
$h-color: #24292e;
$h6-color: #6a737d;
$bq-color: #737b85;
$link-color: #1772d9;
$em-color: $h-color;

// Borders
$h-border: #eaecef;
$bq-border: #dfe2e5;
$hover-left-border: #9999;
$table-border: #ddd;
